body {
  @apply bg-main min-h-screen;
}

.user-select-none {
  user-select: none; /* Ngăn bôi đen trên hầu hết trình duyệt */
}

@layer utilities {
  .text-hero {
    @apply text-[40px];
  }

  .text-title {
     @apply text-[30px];
  }

  .text-subtitle {
     @apply text-[18px];
  }

  .text-body {
     @apply text-[16px];
  }

  .text-14 {
     @apply text-[14px];
  }
  .text-mini {
    @apply text-[13px];
  }
}