body {
  @apply bg-main;
}


@layer utilities {
  .text-hero {
    @apply text-[40px];
  }

  .text-title {
     @apply text-[30px];
  }

  .text-subtitle {
     @apply text-[18px];
  }

  .text-body {
     @apply text-[16px];
  }

  .text-mini {
    @apply text-[13px];
  }
}